@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@font-face {
  font-family: "IBM Plex Sans Semi-Bold";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); }
* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans Regular"; }

html, body {
  height: 100%;
  width: 100%; }

#landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url("../img/willian-justen-de-vasconcellos-595793-unsplash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  #landing h1 {
    font-size: 48px;
    font-family: "IBM Plex Sans Semi-Bold";
    color: #ffffff; }
  #landing #more-arrow {
    font-size: 38px;
    position: absolute;
    bottom: 100px;
    color: #ffffff;
    cursor: pointer; }
  @media screen and (max-width: 900px) {
    #landing h1 {
      font-size: 40px; }
    #landing #more-arrow {
      font-size: 32px;
      bottom: 50px; } }
  @media screen and (max-width: 580px) {
    #landing h1 {
      font-size: 30px; }
    #landing #more-arrow {
      font-size: 26px; } }
  @media screen and (max-width: 390px) {
    #landing h1 {
      font-size: 26px; }
    #landing #more-arrow {
      font-size: 20px;
      bottom: 35px; } }
  @media screen and (max-width: 340px) {
    #landing h1 {
      font-size: 22px; } }

#content {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 250px;
  padding-right: 250px;
  background-color: #f5f5f5; }
  @media screen and (max-width: 1200px) {
    #content {
      padding-left: 150px;
      padding-right: 150px; } }
  @media screen and (max-width: 580px) {
    #content {
      padding-left: 75px;
      padding-right: 75px; } }
  @media screen and (max-width: 390px) {
    #content {
      padding-left: 50px;
      padding-right: 50px; } }
  @media screen and (max-width: 340px) {
    #content {
      padding-left: 35px;
      padding-right: 35px; } }
  #content section {
    margin-top: 75px;
    margin-bottom: 75px; }
    #content section h3 {
      font-size: 32px;
      margin-bottom: 15px;
      font-family: "IBM Plex Sans Semi-Bold"; }

#about {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#projects .wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px; }
  @media screen and (max-width: 1464px) {
    #projects .wrapper {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 900px) {
    #projects .wrapper {
      grid-template-columns: none; } }
  #projects .wrapper .project {
    min-height: 350px;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    #projects .wrapper .project:nth-child(6n+1) .button {
      background-image: -webkit-linear-gradient(left, #6200ea, #1976d2);
      background-image: linear-gradient(90deg, #6200ea 0, #1976d2); }
    #projects .wrapper .project:nth-child(6n+2) .button {
      background-image: -webkit-linear-gradient(left, #9c2780, #ff3d00);
      background-image: linear-gradient(90deg, #9c2780 0, #ff3d00); }
    #projects .wrapper .project:nth-child(6n+3) .button {
      background-image: -webkit-linear-gradient(left, #0097a7, #ccff90);
      background-image: linear-gradient(90deg, #0097a7 0, #ccff90); }
    #projects .wrapper .project:nth-child(6n+4) .button {
      background-image: -webkit-linear-gradient(left, #e65100, #ffa000);
      background-image: linear-gradient(90deg, #e65100 0, #ffa000); }
    #projects .wrapper .project:nth-child(6n+5) .button {
      background-image: -webkit-linear-gradient(left, #4527a0, #7b1fa2);
      background-image: linear-gradient(90deg, #4527a0 0, #7b1fa2); }
    #projects .wrapper .project:nth-child(6n+6) .button {
      background-image: -webkit-linear-gradient(left, #f6fc9c, #eaf818);
      background-image: linear-gradient(90deg, #f6fc9c 0, #eaf818);
      color: #000000; }
    #projects .wrapper .project .content {
      padding: 35px; }
      #projects .wrapper .project .content p {
        margin-top: 15px; }
    #projects .wrapper .project .button {
      margin: 15px 15px 20px 15px;
      padding: 20px 50px;
      border-radius: 40px;
      color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      font-family: "IBM Plex Sans Semi-Bold";
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer; }
      #projects .wrapper .project .button:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      #projects .wrapper .project .button:active {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      #projects .wrapper .project .button:focus {
        outline: none; }

#skills h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px; }
#skills .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 50px;
  margin-bottom: 50px; }
  @media screen and (max-width: 900px) {
    #skills .wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; } }
  #skills .wrapper .skill {
    height: 35px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    #skills .wrapper .skill h5 {
      font-size: 1em;
      line-height: 35px;
      position: absolute;
      margin-left: 15px;
      color: #ffffff; }
    #skills .wrapper .skill div[class^="filled-"], #skills .wrapper .skill div[class*=" filled-"] {
      height: 35px;
      background-color: #52a2ad;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    #skills .wrapper .skill .filled-1 {
      width: 16.66%; }
    #skills .wrapper .skill .filled-2 {
      width: 33.33%; }
    #skills .wrapper .skill .filled-3 {
      width: 50%; }
    #skills .wrapper .skill .filled-4 {
      width: 75%; }
    #skills .wrapper .skill .filled-5 {
      width: 100%; }

#interests ul {
  margin-left: 15px;
  margin-top: 10px; }
  #interests ul li {
    list-style-position: inside;
    color: #7f8c8d; }

footer {
  width: 100%;
  background: #2c2c54;
  display: flex;
  flex-flow: column nowrap; }
  footer .helpful-links {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #dddddd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    @media screen and (max-width: 900px) {
      footer .helpful-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px; } }
    @media screen and (max-width: 580px) {
      footer .helpful-links {
        grid-template-columns: none; } }
    footer .helpful-links a {
      font-size: 18px;
      color: inherit;
      text-decoration: none;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      footer .helpful-links a i {
        font-size: 48px;
        margin-bottom: 15px; }
  footer .info {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #dddddd; }
    footer .info p {
      text-align: center; }
      footer .info p a {
        color: inherit;
        text-decoration: none; }
        footer .info p a:hover {
          text-decoration: underline; }
        footer .info p a i {
          margin-right: 10px; }
      @media screen and (max-width: 580px) {
        footer .info p a {
          display: block;
          margin-bottom: 3px; }
        footer .info p span {
          display: none; } }

/*# sourceMappingURL=styles.css.map */
