// Main background color
$bg: #f5f5f5;

// Main color of the landing page image

// Color for the list bullets
$list-bullets: #7f8c8d;

// Footer background
$footer-bg: #2c2c54;

// Footer text color
$footer-text: #dddddd;

// Button gradients
$red-gradient: (
    colorA: #9c2780,
    colorB: #ff3d00
);

$orange-gradient: (
    colorA: #e65100,
    colorB: #ffa000
);

$teal-gradient: (
    colorA: #0097a7,
    colorB: #ccff90
);

$purple-gradient: (
    colorA: #4527a0,
    colorB: #7b1fa2
);

$blue-gradient: (
    colorA: #6200ea,
    colorB: #1976d2
);

$yellow-gradient: (
    colorA: #f6fc9c,
    colorB: #eaf818
);

$gradients: $blue-gradient, $red-gradient, $teal-gradient, $orange-gradient, $purple-gradient, $yellow-gradient;
