#content {
    // Size
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 250px;
    padding-right: 250px;

	// Responsive Design
	@include media(max-width, medium) {
		// Size
		padding-left: 150px;
		padding-right: 150px;
	}

	// Responsive Design
	@include media(max-width, small) {
		// Size
		padding-left: 75px;
		padding-right: 75px;
	}

	// Responsive Design
	@include media(max-width, really-small) {
		// Size
		padding-left: 50px;
		padding-right: 50px;
	}

	// Responsive Design
	@include media(max-width, ultra-small) {
		// Size
		padding-left: 35px;
		padding-right: 35px;
	}

    // Visual
    background-color: $bg;

    section {
        // Position
        margin-top: 75px;
        margin-bottom: 75px;

        h3 {
            // Size
            font-size: 32px;

            // Position
            margin-bottom: 15px;

            // Visual
            font-family: $ibm-plex-sans;
        }
    }

}
