// IBM Plex Sans Semi-Bold (main title landing page)
@font-face {
    font-family: "IBM Plex Sans Semi-Bold";
    src: url("../fonts/IBMPlexSans-SemiBold.ttf");
}
$ibm-plex-sans: "IBM Plex Sans Semi-Bold";

// Open Sans (font for all the text)
@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}
$open-sans: "Open Sans Regular";

// Font Awesome
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
