footer {
	// Size
	width: 100%;

	// Visual
	background: $footer-bg;

	// Flexbox
	display: flex;
	flex-flow: column nowrap;

	.helpful-links {
		// Size
		width: 100%;

		// Position
		margin-top: 40px;
		margin-bottom: 40px;
		
		// Visual
		color: $footer-text;
		
		// Flexbox
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		// Responsive Design
		@include media("max-width", "almost-medium") {
			// Grid
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 50px;
		}

		// Responsive Design
		@include media("max-width", "small") {
			// Grid
			grid-template-columns: none;
		}

		a {
			// Size
			font-size: 18px;

			// Visual
			color: inherit;
			text-decoration: none;

			// Flexbox
			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			i {
				// Size
				font-size: 48px;

				// Position
				margin-bottom: 15px;
			}
		}
	}

	.info {
		// Position
		margin-top: 10px;
		margin-bottom: 50px;

		// Visual
		color: $footer-text;

		p {
			// Position
			text-align: center;

			a {
				// Visual
				color: inherit;
				text-decoration: none;

				&:hover {
					// Visual
					text-decoration: underline;
				}

				i {
					// Position
					margin-right: 10px;
				}
			}

			// Responsive Design
			@include media("max-width", "small") {
				a {
					// Position
					display: block;
					margin-bottom: 3px;
				}

				span {
					// Visual
					display: none;
				}
			}
		}
	}
}
