#landing {
    // Size
    height: 100%;
    width: 100%;

    // Flex
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    // Visual
    background: url("../img/willian-justen-de-vasconcellos-595793-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include materialShadow(1, false);

	h1 {
		// Size
		font-size: 48px;

		// Visual
		font-family: $ibm-plex-sans;
		color: #ffffff;

    }

    #more-arrow {
        // Size
        font-size: 38px;

        // Position
        position: absolute;
        bottom: 100px;

        // Visual
        color: #ffffff;
        cursor: pointer;
    }
	// Responsive Design
	@include media(max-width, almost-medium) {
		h1 {
			// Size
			font-size: 40px;
		}

		#more-arrow {
			// Size
			font-size: 32px;

			// Position
			bottom: 50px;
		}
	}

	// Responsive Design
	@include media(max-width, small) {
		h1 {
			// Size
			font-size: 30px;
		}

		#more-arrow {
			// Size
			font-size: 26px;
		}
	}

	// Responsive Design
	@include media(max-width, really-small) {
		h1 {
			// Size
			font-size: 26px;
		}

		#more-arrow {
			// Size
			font-size: 20px;

			// Position
			bottom: 35px;
		}
	}

	// Responsive Design
	@include media(max-width, ultra-small) {
		h1 {
			// Size
			font-size: 22px;
		}
	}
}
