$breakpoints: (
	large: 1464px,
	medium: 1200px,
	almost-medium: 900px,
	small: 580px,
	really-small: 390px,
	ultra-small: 340px
);

@mixin media($width-value, $breakpoint) {
	@media screen and ($width-value: map-get($breakpoints, $breakpoint)) {
		@content;
	} 
}
