#skills {

	h4 {
		// Size
		font-size: 22px;

		// Position
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.wrapper {
		// Grid
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0px 50px;

		// Position
		margin-bottom: 50px;

		// Responsive Design
		@include media("max-width", "almost-medium") {
			// Flexbox
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}

		.skill {

			// Size
			height: 35px;
			width: 100%;
			max-width: 1000px;

			// Position
			position: relative;
			margin-top: 15px;
			margin-bottom: 15px;

			// Visual
			border-radius: 5px;
			background: #ffffff;
			@include materialShadow(1, false);

			h5 {
				// Size
				font-size: 1em;
				line-height: 35px;

				// Position
				position: absolute; 
				margin-left: 15px;
				
				// Visual
				color: #ffffff;
			}

			div[class^="filled-"], div[class*=" filled-"] {
				// Size
				height: 35px;

				// Visual
				background-color: #52a2ad;
				border-radius: 5px;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}

			.filled-1 {
				// Size
				width: 16.66%;
			}

			.filled-2 {
				// Size
				width: 33.33%;
			}

			.filled-3 {
				// Size
				width: 50%;
			}

			.filled-4 {
				// Size
				width: 75%;
			}

			.filled-5 {
				// Size
				width: 100%;
			}

		}
	}
}

